*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f5f5;
}

header{
background:#2563eb;
color:white;
padding:20px;
text-align:center;
}

.controls{
margin-top:15px;

display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
}

input,select{

padding:10px;
border:none;
border-radius:8px;
min-width:220px;
}

.products-grid{

padding:30px;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;
}

.card{

background:white;

padding:15px;

border-radius:12px;

box-shadow:
0 4px 12px rgba(0,0,0,0.1);

transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:220px;
object-fit:contain;
}

.card h3{
margin-top:10px;
font-size:18px;
}

.price{
font-size:20px;
color:#2563eb;
font-weight:bold;
margin:10px 0;
}

button{

background:#2563eb;
color:white;

border:none;

padding:10px;

width:100%;

border-radius:8px;

cursor:pointer;
}

#loader{
text-align:center;
padding:30px;
font-size:20px;
}

.modal{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.6);
}

.modal-content{

background:white;

width:90%;
max-width:600px;

margin:50px auto;

padding:20px;

border-radius:12px;
}

.close{

float:right;

font-size:30px;

cursor:pointer;
}

@media(max-width:768px){

header h1{
font-size:24px;
}

}
